.wp-helper-logo {
  font-variant: small-caps;
  font-family: "Open-sans", sans-serif;
  font-weight: 900;
}

h1.wp-helper-logo img {
  height: 23px;
  margin-right: 10px;
  margin-bottom: -2px;
  transition: transform 1.5s ease-in-out;
}

#poststuff .stuffbox>h3, #poststuff h2, #poststuff h3.hndle {
  font-size: 15px;
  padding: 13px 17px;
}

.postbox {
  border: 1px solid #dddddd;
  border-radius: 12px;
  overflow: hidden;
}

.acf-image-uploader .image-wrap {
	border-radius: 8px;
    overflow: hidden;
}
.wp-core-ui .notice {border-radius:6px}

#wp-admin-bar-user-info .avatar {  border-radius: 16px;}

#adminmenu div.separator {	height: 1px;}
#adminmenu div.separator {  background-color: #8b92a121;}
#adminmenu li.wp-menu-separator {  margin: 7px 0 7px 38px;}
#titlediv #title{height: 2.2em;}

input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
   border: 1px solid #dfdfdf;
}